.control-bar {
    z-index: z('control-bar');

    position: fixed;
    bottom: 0;
    right: 0;
    width: $toast-area--width;
    background-color:   $main-color;
    padding: 10px;
    
   //   h1 {
   //      font-scize: 14px;
   //   }


   .control  {
      &.control-rec {
         background-color:   $button-rec--color;
      }
      
      &.control-stop {
         background-color:   $button-stop--color;
      }

   }
}