.toast {
  // border: 3px solid red;

  font-size: 20px;
  position: relative;
  width: 90%; 
  overflow: visible;

  &.bot {
    background-color: $toast--bot--bg ;
    color: $toast--bot--color ;
    margin-left: 0;
 
    &:before {
      content: "";
      display: block;
      position: absolute;
      top:5px;
      left: -5px;
      width: 10px;
      height: 8px;
      transform: rotate(45deg);
      background-color: $toast--bot--bg;
      border-bottom: 1px solid rgba(0,0,0,.1);
      border-left: 1px solid rgba(0,0,0,.2);
      box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
      -webkit-backdrop-filter: blur(10px);

    }
  }

  &.user {
    background-color: $toast--user--bg;
    color: $toast--user--color;
    margin-left: 10%;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top:5px;
      right: -5px;
      width: 10px;
      height: 8px;
      transform: rotate(45deg);
      background-color: $toast--user--bg;

      border-top: 1px solid rgba(0,0,0,.1);
      border-right: 1px solid rgba(0,0,0,.2);
      box-shadow: 0 -0.25rem 0.75rem rgba(0,0,0,.1);
      -webkit-backdrop-filter: blur(10px);
    }
  }

  button {
    flex-grow: 0;
    height: auto;
    min-width: none;
    width: auto;
    border: none;
    border-radius: 0.15rem;
    
    margin-left: 2px;
    box-shadow: none;
    cursor: pointer;
    
  }
}