.btn {
    &.button--theme {
        background-color: $top-bar-btn--bg;
        font-weight: bold;
        font-size: 24px;
        display: inline-block;
        height: 40px;
        position: relative;
        top: 5px; 
        color: white;
        line-height: 16px;
        cursor: pointer;
    
        i { 
           margin-right: 5px;
        }
    }
}

