.map-contaner {
    // width: $map-area--width;
    height: 100vh;
    // float: left;
    // margin-left: $map-area--offset;

    display: flex;
    flex-grow: 1;
}

#map {
    // border: 10px solid red;
    width: 100%;
    height: 100%;
    
}