// Colors
$main-color             : #ffc107;

$button-rec--color      : red;
$button-stop--color     : grey;
$button-default--color  : rgba(255,255,255, 0.7);

$top-bar--bg            : #F6CC75;
$top-bar-btn--bg        : #eba911;

$toast--bot--bg          : #FFFFFF; 
$toast--bot--color       : #000000; 
$toast--user--bg        : #F9EBCE;
$toast--user--color     : #000000;

$toast-area--width      : 300px;
// $map-area--width        : calc(100% + 300px);   // ! depends on toast area width
// $map-area--width     : calc(100% - 300px);   // ! depends on toast area width
// $map-area--offset       : -150px; 

// $control-bar--width  : calc(100% - 300px);
$control-bar--width     : $toast-area--width;