.popup--theme {
    background-color: #fff;
    z-index: z('popup--theme'); 

    position: fixed;

    top: 50%;
    left: 50%;

    // width: 560px;
    // height: 450px;
    // margin-left: -440px;
    // margin-top: -225px;

    width: 670px;
    height: 450px;
    margin-left: -495px;
    margin-top: -225px;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;

    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    &.popup--flight {
        // width: 560px;
        // width: 600px;
        width: 670px;
        height: 450px;
        // margin-left: -460px;
        margin-left: -495px;
        margin-top: -225px;
        z-index: z('popup--flight'); 

        .flight-title {
            height: 70px;
            line-height: 70px;
            font-size: 20px;
        }

        &.fligt-ready {
            width: 420px; 
            height: 260px;

            top: 70px;
            right: 10px;

            margin-left: auto;
            margin-top: auto;

            .flights {
                .flight {
                    padding: 10px;
                    height: 160px;

                    .f-col-3 {
                        .stoppes  {
                            padding-left: 0;
                            margin-top: 27px;
                        }
                    }
                }
            }

        }
    }

    &.popup--emissions {
        width: 560px;
        height: 450px;
        margin-left: -440px;
        margin-top: -225px;

        z-index: z('popup--emissions'); 

        padding: 24px;
        padding-top: 18px;

        background-repeat: no-repeat;
        background-position: 50% 145%;
        background-size: contain;
        background-image: url('../img/co2.png');

        .popup--emissions--title {
            font-size: 20px;
            text-align: left;
            margin-bottom: 36px;
        }

        .popup--emissions--distance {
            font-size: 22px;
            text-align: center;
            color: #787878;
            margin-bottom: -10px;
        }

        .popup--emissions--weight {
            font-size: 60px;
            text-align: center;
            color: #3667C1;

            position: relative;
            
        }


    }

    .flights {
        height: 350px;
        overflow: auto;
    }
}
